/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4984782dc01f8f43a657b17a530480a2$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gbt2659.png);}

.ABW {width:146px; height:92px; background-position: -599px -973px}
.AFG {width:145px; height:91px; background-position: -1185px -1521px}
.AGO {width:146px; height:93px; background-position: -748px -885px}
.AIA {width:165px; height:99px; background-position: -1754px -200px}
.ALB {width:146px; height:92px; background-position: -1360px -1053px}
.AND {width:145px; height:92px; background-position: -1334px -1520px}
.ANT {width:166px; height:97px; background-position: -339px -519px}
.ARE {width:193px; height:92px; background-position: -871px -2px}
.ARG {width:146px; height:91px; background-position: -446px -1458px}
.ARM {width:145px; height:92px; background-position: -1483px -1508px}
.ASM {width:167px; height:99px; background-position: -202px -163px}
.ATA {width:166px; height:99px; background-position: -540px -324px}
.ATF {width:167px; height:97px; background-position: -1755px -101px}
.ATG {width:146px; height:91px; background-position: -594px -1441px}
.AUS {width:146px; height:84px; background-position: -1485px -1422px}
.AUT {width:146px; height:91px; background-position: -742px -1354px}
.AZE {width:146px; height:92px; background-position: -1528px -1050px}
.BDI {width:147px; height:91px; background-position: -2px -862px}
.BEL {width:145px; height:91px; background-position: -2px -1789px}
.BEN {width:145px; height:91px; background-position: -149px -1774px}
.BFA {width:148px; height:91px; background-position: -1681px -488px}
.BGD {width:146px; height:89px; background-position: -298px -1551px}
.BGR {width:147px; height:91px; background-position: -151px -847px}
.BHR {width:146px; height:91px; background-position: -891px -1328px}
.BHS {width:145px; height:93px; background-position: -1038px -1512px}
.BIH {width:146px; height:92px; background-position: -1698px -958px}
.BLR {width:167px; height:92px; background-position: -1027px -222px}
.BLZ {width:146px; height:92px; background-position: -1867px -864px}
.BMU {width:147px; height:92px; background-position: -806px -605px}
.BOL {width:145px; height:92px; background-position: -1633px -1422px}
.BRA {width:146px; height:91px; background-position: -1040px -1327px}
.BRB {width:144px; height:90px; background-position: -735px -1905px}
.BRN {width:146px; height:92px; background-position: -2px -1235px}
.BTN {width:146px; height:91px; background-position: -1189px -1241px}
.BVT {width:167px; height:97px; background-position: -1586px -101px}
.BWA {width:146px; height:92px; background-position: -150px -1220px}
.CAF {width:145px; height:92px; background-position: -2px -1695px}
.CAN {width:146px; height:91px; background-position: -1339px -1240px}
.CCK {width:198px; height:128px; background-position: -2px -162px}
.CHE {width:147px; height:92px; background-position: -975px -579px}
.CHL {width:146px; height:91px; background-position: -1488px -1237px}
.CHN {width:147px; height:91px; background-position: -301px -806px}
.CIV {width:167px; height:96px; background-position: -1222px -201px}
.CMR {width:148px; height:91px; background-position: -1531px -398px}
.COD {width:146px; height:90px; background-position: -594px -1534px}
.COG {width:148px; height:92px; background-position: -1726px -301px}
.COK {width:166px; height:96px; background-position: -170px -562px}
.COL {width:148px; height:91px; background-position: -1876px -487px}
.COM {width:146px; height:92px; background-position: -298px -1179px}
.CPV {width:145px; height:91px; background-position: -297px -1736px}
.CR {width:148px; height:92px; background-position: -2px -675px}
.CSR {width:167px; height:96px; background-position: -1417px -200px}
.CUB {width:147px; height:92px; background-position: -1622px -676px}
.CYM {width:146px; height:92px; background-position: -447px -1178px}
.CYP {width:147px; height:92px; background-position: -1473px -586px}
.CZE {width:145px; height:92px; background-position: -150px -1680px}
.DEU {width:146px; height:91px; background-position: -1656px -1145px}
.DJI {width:146px; height:92px; background-position: -596px -1161px}
.DMA {width:148px; height:93px; background-position: -338px -618px}
.DNK {width:145px; height:90px; background-position: -588px -1916px}
.DOM {width:145px; height:92px; background-position: -298px -1642px}
.DZA {width:144px; height:92px; background-position: -2px -1882px}
.ECU {width:147px; height:90px; background-position: -1422px -773px}
.EGY {width:146px; height:91px; background-position: -1824px -1144px}
.ERI {width:148px; height:91px; background-position: -1726px -395px}
.ESH {width:167px; height:97px; background-position: -2px -392px}
.ESP {width:146px; height:92px; background-position: -745px -1074px}
.EST {width:146px; height:90px; background-position: -742px -1447px}
.ETH {width:146px; height:92px; background-position: -895px -1048px}
.FIN {width:147px; height:90px; background-position: -1571px -770px}
.FJI {width:146px; height:86px; background-position: -2px -1607px}
.FLK {width:166px; height:97px; background-position: -508px -425px}
.FM {width:148px; height:92px; background-position: -170px -660px}
.FRA {width:146px; height:92px; background-position: -1044px -1047px}
.FRO {width:166px; height:97px; background-position: -708px -407px}
.GAB {width:167px; height:97px; background-position: -171px -364px}
.GBR {width:147px; height:93px; background-position: -1829px -675px}
.GEO {width:146px; height:90px; background-position: -890px -1421px}
.GHA {width:148px; height:93px; background-position: -507px -524px}
.GIB {width:167px; height:97px; background-position: -371px -320px}
.GIN {width:147px; height:91px; background-position: -767px -792px}
.GLP {width:238px; height:158px; background-position: -2px -2px}
.GMB {width:147px; height:90px; background-position: -2px -955px}
.GNB {width:146px; height:92px; background-position: -1212px -961px}
.GNQ {width:146px; height:92px; background-position: -1380px -959px}
.GRC {width:147px; height:91px; background-position: -618px -788px}
.GRD {width:147px; height:91px; background-position: -469px -713px}
.GRL {width:166px; height:97px; background-position: -969px -316px}
.GTM {width:146px; height:92px; background-position: -1550px -956px}
.GUF {width:180px; height:119px; background-position: -1066px -2px}
.GUM {width:166px; height:97px; background-position: -1196px -299px}
.GUY {width:146px; height:91px; background-position: -2px -1422px}
.HKG {width:166px; height:97px; background-position: -1391px -298px}
.HMD {width:146px; height:84px; background-position: -1485px -1422px}
.HND {width:145px; height:91px; background-position: -445px -1731px}
.HRV {width:147px; height:93px; background-position: -1680px -581px}
.HTI {width:146px; height:90px; background-position: -1039px -1420px}
.HUN {width:147px; height:91px; background-position: -2px -769px}
.IDN {width:147px; height:91px; background-position: -152px -754px}
.IND {width:147px; height:89px; background-position: -1253px -776px}
.IOT {width:167px; height:98px; background-position: -1248px -2px}
.IRL {width:145px; height:89px; background-position: -888px -1700px}
.IRN {width:146px; height:91px; background-position: -150px -1407px}
.IRQ {width:145px; height:91px; background-position: -593px -1720px}
.ISL {width:148px; height:93px; background-position: -676px -506px}
.ISR {width:147px; height:91px; background-position: -320px -713px}
.ITA {width:146px; height:90px; background-position: -1188px -1334px}
.JAM {width:145px; height:90px; background-position: -588px -1824px}
.JOR {width:146px; height:91px; background-position: -298px -1366px}
.JPN {width:147px; height:90px; background-position: -151px -940px}
.KAZ {width:146px; height:91px; background-position: -446px -1365px}
.KEN {width:146px; height:91px; background-position: -594px -1348px}
.KGZ {width:147px; height:91px; background-position: -935px -766px}
.KHM {width:147px; height:90px; background-position: -300px -899px}
.KIR {width:146px; height:90px; background-position: -1337px -1333px}
.KNA {width:147px; height:91px; background-position: -1104px -765px}
.KOR {width:146px; height:93px; background-position: -916px -859px}
.KWT {width:145px; height:91px; background-position: -741px -1633px}
.LAO {width:147px; height:90px; background-position: -450px -898px}
.LBN {width:146px; height:91px; background-position: -743px -1261px}
.LBR {width:146px; height:92px; background-position: -1719px -864px}
.LBY {width:147px; height:93px; background-position: -1831px -580px}
.LCA {width:146px; height:89px; background-position: -1783px -1421px}
.LIE {width:146px; height:92px; background-position: -1868px -770px}
.LKA {width:169px; height:84px; background-position: -480px -134px}
.LSO {width:146px; height:91px; background-position: -892px -1235px}
.LTU {width:146px; height:91px; background-position: -1041px -1234px}
.LUX {width:145px; height:93px; background-position: -1187px -1426px}
.LVA {width:146px; height:90px; background-position: -1635px -1330px}
.MAC {width:166px; height:97px; background-position: -1586px -200px}
.MAR {width:147px; height:93px; background-position: -1531px -491px}
.MCO {width:146px; height:92px; background-position: -2px -1141px}
.MDA {width:147px; height:91px; background-position: -1273px -683px}
.MDG {width:146px; height:90px; background-position: -1487px -1330px}
.MDV {width:146px; height:91px; background-position: -1191px -1148px}
.MEX {width:146px; height:92px; background-position: -150px -1126px}
.MHL {width:147px; height:92px; background-position: -1324px -496px}
.MKD {width:146px; height:92px; background-position: -299px -1085px}
.MLI {width:166px; height:97px; background-position: -2px -491px}
.MLT {width:147px; height:92px; background-position: -488px -619px}
.MMR {width:166px; height:99px; background-position: -801px -306px}
.MNG {width:147px; height:91px; background-position: -1422px -680px}
.MNP {width:167px; height:98px; background-position: -2px -292px}
.MOZ {width:147px; height:91px; background-position: -786px -699px}
.MRT {width:146px; height:90px; background-position: -1784px -1329px}
.MSR {width:166px; height:97px; background-position: -171px -463px}
.MTQ {width:236px; height:159px; background-position: -242px -2px}
.MUS {width:146px; height:92px; background-position: -448px -1084px}
.MWI {width:146px; height:91px; background-position: -1340px -1147px}
.MYS {width:145px; height:91px; background-position: -889px -1607px}
.MYT {width:194px; height:130px; background-position: -480px -2px}
.NAM {width:144px; height:91px; background-position: -148px -1882px}
.NCL {width:180px; height:90px; background-position: -676px -133px}
.NER {width:145px; height:92px; background-position: -446px -1637px}
.NFK {width:166px; height:98px; background-position: -340px -419px}
.NGA {width:147px; height:90px; background-position: -599px -881px}
.NIC {width:146px; height:91px; background-position: -1508px -1144px}
.NIU {width:167px; height:98px; background-position: -202px -264px}
.NLD {width:147px; height:91px; background-position: -955px -673px}
.NOR {width:167px; height:97px; background-position: -1586px -101px}
.NPL {width:146px; height:91px; background-position: -1676px -1052px}
.NRU {width:147px; height:90px; background-position: -450px -806px}
.NZL {width:146px; height:84px; background-position: -446px -1551px}
.OMN {width:145px; height:91px; background-position: -1775px -1698px}
.PAK {width:147px; height:91px; background-position: -1124px -672px}
.PAN {width:147px; height:91px; background-position: -1273px -590px}
.PCN {width:167px; height:97px; background-position: -632px -225px}
.PER {width:147px; height:92px; background-position: -657px -601px}
.PHL {width:145px; height:91px; background-position: -1628px -1609px}
.PLW {width:145px; height:90px; background-position: -441px -1921px}
.PNG {width:146px; height:92px; background-position: -597px -1067px}
.POL {width:145px; height:89px; background-position: -1036px -1699px}
.PRI {width:167px; height:97px; background-position: -858px -207px}
.PRK {width:146px; height:91px; background-position: -1846px -1051px}
.PRT {width:145px; height:90px; background-position: -441px -1829px}
.PRY {width:145px; height:89px; background-position: -1183px -1614px}
.PST {width:165px; height:97px; background-position: -1364px -397px}
.PYF {width:167px; height:97px; background-position: -1053px -123px}
.QAT {width:146px; height:90px; background-position: -1636px -1238px}
.REU {width:180px; height:109px; background-position: -871px -96px}
.ROM {width:145px; height:92px; background-position: -594px -1626px}
.RUS {width:146px; height:92px; background-position: -747px -980px}
.RWA {width:146px; height:91px; background-position: -1846px -958px}
.SAU {width:145px; height:91px; background-position: -1777px -1605px}
.SDN {width:146px; height:91px; background-position: -2px -1329px}
.SEN {width:147px; height:92px; background-position: -826px -511px}
.SGP {width:145px; height:92px; background-position: -742px -1539px}
.SGS {width:165px; height:97px; background-position: -1559px -299px}
.SHN {width:146px; height:86px; background-position: -150px -1592px}
.SJM {width:167px; height:97px; background-position: -1586px -101px}
.SLB {width:145px; height:91px; background-position: -1481px -1602px}
.SLE {width:146px; height:91px; background-position: -150px -1314px}
.SLV {width:146px; height:90px; background-position: -1804px -1237px}
.SMR {width:147px; height:92px; background-position: -1175px -485px}
.SOM {width:145px; height:90px; background-position: -294px -1867px}
.SPM {width:167px; height:98px; background-position: -463px -220px}
.STP {width:146px; height:92px; background-position: -896px -954px}
.SUR {width:167px; height:97px; background-position: -1248px -102px}
.SVK {width:146px; height:90px; background-position: -2px -1515px}
.SVN {width:146px; height:92px; background-position: -1064px -953px}
.SWE {width:145px; height:90px; background-position: -1036px -1607px}
.SWZ {width:146px; height:90px; background-position: -150px -1500px}
.SYC {width:145px; height:93px; background-position: -1336px -1425px}
.SYR {width:146px; height:91px; background-position: -298px -1273px}
.TCA {width:167px; height:97px; background-position: -1417px -101px}
.TCD {width:145px; height:91px; background-position: -1630px -1516px}
.TGO {width:147px; height:92px; background-position: -1026px -485px}
.THA {width:146px; height:92px; background-position: -1232px -867px}
.TJK {width:146px; height:92px; background-position: -1402px -865px}
.TKL {width:167px; height:97px; background-position: -1755px -2px}
.TKM {width:145px; height:91px; background-position: -1780px -1512px}
.TMP {width:146px; height:92px; background-position: -1571px -862px}
.TON {width:147px; height:91px; background-position: -1124px -579px}
.TTO {width:146px; height:92px; background-position: -1720px -770px}
.TUN {width:145px; height:92px; background-position: -890px -1513px}
.TUR {width:146px; height:92px; background-position: -2px -1047px}
.TUV {width:155px; height:85px; background-position: -1137px -398px}
.TWN {width:146px; height:91px; background-position: -446px -1272px}
.TZA {width:146px; height:91px; background-position: -595px -1255px}
.UGA {width:148px; height:94px; background-position: -876px -415px}
.UKR {width:146px; height:92px; background-position: -151px -1032px}
.UMI {width:146px; height:92px; background-position: -300px -991px}
.URY {width:144px; height:90px; background-position: -735px -1813px}
.USA {width:146px; height:92px; background-position: -300px -991px}
.UZB {width:147px; height:91px; background-position: -637px -695px}
.VAT {width:90px; height:90px; background-position: -371px -163px}
.VCT {width:146px; height:92px; background-position: -449px -990px}
.VEN {width:148px; height:91px; background-position: -1876px -394px}
.VGB {width:167px; height:97px; background-position: -1586px -2px}
.VIR {width:167px; height:97px; background-position: -1417px -2px}
.VNM {width:148px; height:91px; background-position: -1876px -301px}
.VUT {width:146px; height:91px; background-position: -744px -1168px}
.WLF {width:193px; height:129px; background-position: -676px -2px}
.WSM {width:146px; height:93px; background-position: -1084px -858px}
.YEM {width:146px; height:91px; background-position: -893px -1142px}
.YUG {width:166px; height:83px; background-position: -2px -590px}
.ZAF {width:146px; height:90px; background-position: -298px -1459px}
.ZMB {width:146px; height:91px; background-position: -1043px -1141px}
.ZWE {width:146px; height:91px; background-position: -1192px -1055px}
