/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1dca8f07607a1d4e8cecf6e4c3185204$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gbt2659.png);}

.ABW {width:157px; height:99px; background-position: -161px -1004px}
.AFG {width:157px; height:98px; background-position: -797px -689px}
.AGO {width:157px; height:100px; background-position: -161px -902px}
.AIA {width:157px; height:94px; background-position: -1433px -1877px}
.ALB {width:157px; height:99px; background-position: -479px -689px}
.AND {width:157px; height:100px; background-position: -161px -800px}
.ANT {width:160px; height:94px; background-position: -644px -290px}
.ARE {width:197px; height:94px; background-position: -2px -2px}
.ARG {width:157px; height:98px; background-position: -638px -1694px}
.ARM {width:157px; height:100px; background-position: -161px -698px}
.ASM {width:158px; height:94px; background-position: -1611px -290px}
.ATA {width:157px; height:94px; background-position: -1274px -1880px}
.ATF {width:161px; height:94px; background-position: -324px -194px}
.ATG {width:157px; height:98px; background-position: -638px -1594px}
.AUS {width:163px; height:94px; background-position: -1612px -2px}
.AUT {width:157px; height:98px; background-position: -638px -1494px}
.AZE {width:157px; height:99px; background-position: -320px -694px}
.BDI {width:157px; height:97px; background-position: -1592px -1386px}
.BEL {width:157px; height:98px; background-position: -638px -1394px}
.BEN {width:157px; height:98px; background-position: -638px -1294px}
.BFA {width:157px; height:96px; background-position: -1433px -1779px}
.BGD {width:157px; height:96px; background-position: -1751px -1685px}
.BGR {width:157px; height:97px; background-position: -1433px -1386px}
.BHR {width:157px; height:98px; background-position: -638px -1194px}
.BHS {width:157px; height:101px; background-position: -2px -1100px}
.BIH {width:157px; height:99px; background-position: -1751px -593px}
.BLR {width:170px; height:94px; background-position: -945px -2px}
.BLZ {width:157px; height:99px; background-position: -1592px -588px}
.BMU {width:157px; height:98px; background-position: -638px -1094px}
.BOL {width:157px; height:100px; background-position: -161px -596px}
.BRA {width:157px; height:98px; background-position: -479px -1894px}
.BRB {width:157px; height:98px; background-position: -479px -1794px}
.BRN {width:157px; height:99px; background-position: -1433px -588px}
.BTN {width:157px; height:98px; background-position: -479px -1694px}
.BVT {width:161px; height:94px; background-position: -161px -194px}
.BWA {width:157px; height:99px; background-position: -1274px -588px}
.CAF {width:157px; height:100px; background-position: -161px -494px}
.CAN {width:157px; height:98px; background-position: -479px -1594px}
.CCK {width:157px; height:101px; background-position: -2px -997px}
.CHE {width:157px; height:98px; background-position: -479px -1494px}
.CHL {width:157px; height:98px; background-position: -479px -1394px}
.CHN {width:157px; height:97px; background-position: -1274px -1386px}
.CIV {width:163px; height:94px; background-position: -1447px -2px}
.CMR {width:157px; height:96px; background-position: -1592px -1681px}
.COD {width:157px; height:97px; background-position: -1115px -1386px}
.COG {width:157px; height:98px; background-position: -479px -1294px}
.COK {width:162px; height:94px; background-position: -1777px -2px}
.COL {width:157px; height:96px; background-position: -1433px -1681px}
.COM {width:157px; height:99px; background-position: -1115px -588px}
.CPV {width:157px; height:98px; background-position: -479px -1194px}
.CR {width:157px; height:98px; background-position: -479px -1094px}
.CSR {width:163px; height:94px; background-position: -1282px -2px}
.CUB {width:157px; height:98px; background-position: -1751px -994px}
.CYM {width:157px; height:99px; background-position: -956px -588px}
.CYP {width:157px; height:98px; background-position: -1592px -989px}
.CZE {width:157px; height:100px; background-position: -161px -392px}
.DEU {width:157px; height:98px; background-position: -1433px -989px}
.DJI {width:157px; height:99px; background-position: -797px -588px}
.DMA {width:157px; height:99px; background-position: -638px -588px}
.DNK {width:157px; height:97px; background-position: -956px -1886px}
.DOM {width:157px; height:100px; background-position: -161px -290px}
.DZA {width:157px; height:100px; background-position: -2px -1917px}
.ECU {width:157px; height:96px; background-position: -1274px -1685px}
.EGY {width:157px; height:98px; background-position: -1274px -989px}
.ERI {width:157px; height:96px; background-position: -1115px -1881px}
.ESH {width:161px; height:94px; background-position: -1791px -98px}
.ESP {width:157px; height:99px; background-position: -479px -588px}
.EST {width:157px; height:97px; background-position: -956px -1787px}
.ETH {width:157px; height:99px; background-position: -320px -588px}
.FIN {width:157px; height:96px; background-position: -1115px -1783px}
.FJI {width:159px; height:94px; background-position: -1450px -290px}
.FLK {width:160px; height:94px; background-position: -482px -290px}
.FRA {width:157px; height:99px; background-position: -1751px -492px}
.FRO {width:160px; height:94px; background-position: -320px -290px}
.FSM {width:157px; height:98px; background-position: -638px -689px}
.GAB {width:161px; height:94px; background-position: -1628px -98px}
.GBR {width:157px; height:99px; background-position: -1592px -487px}
.GEO {width:157px; height:97px; background-position: -956px -1688px}
.GHA {width:157px; height:99px; background-position: -1433px -487px}
.GIB {width:161px; height:94px; background-position: -1465px -98px}
.GIN {width:157px; height:97px; background-position: -956px -1589px}
.GLP {width:157px; height:104px; background-position: -2px -685px}
.GMB {width:157px; height:96px; background-position: -1115px -1685px}
.GNB {width:157px; height:99px; background-position: -1274px -487px}
.GNQ {width:157px; height:99px; background-position: -1115px -487px}
.GRC {width:157px; height:97px; background-position: -956px -1490px}
.GRD {width:157px; height:97px; background-position: -956px -1391px}
.GRL {width:160px; height:94px; background-position: -1783px -194px}
.GTM {width:157px; height:99px; background-position: -956px -487px}
.GUF {width:157px; height:104px; background-position: -2px -579px}
.GUM {width:160px; height:94px; background-position: -1621px -194px}
.GUY {width:157px; height:98px; background-position: -1115px -989px}
.HKG {width:160px; height:94px; background-position: -1459px -194px}
.HMD {width:163px; height:94px; background-position: -1612px -2px}
.HND {width:157px; height:98px; background-position: -956px -989px}
.HRV {width:157px; height:99px; background-position: -797px -487px}
.HTI {width:157px; height:97px; background-position: -797px -1886px}
.HUN {width:157px; height:97px; background-position: -797px -1787px}
.IDN {width:157px; height:97px; background-position: -797px -1688px}
.IND {width:157px; height:95px; background-position: -1592px -1779px}
.IOT {width:160px; height:94px; background-position: -1297px -194px}
.IRL {width:157px; height:96px; background-position: -1751px -1587px}
.IRN {width:157px; height:98px; background-position: -797px -989px}
.IRQ {width:157px; height:98px; background-position: -479px -990px}
.ISL {width:157px; height:99px; background-position: -638px -487px}
.ISR {width:157px; height:97px; background-position: -797px -1589px}
.ITA {width:157px; height:97px; background-position: -797px -1490px}
.JAM {width:157px; height:97px; background-position: -797px -1391px}
.JOR {width:157px; height:98px; background-position: -638px -989px}
.JPN {width:157px; height:96px; background-position: -1592px -1583px}
.KAZ {width:157px; height:98px; background-position: -320px -1895px}
.KEN {width:157px; height:98px; background-position: -320px -1795px}
.KGZ {width:157px; height:97px; background-position: -1751px -1292px}
.KHM {width:157px; height:96px; background-position: -1433px -1583px}
.KIR {width:157px; height:97px; background-position: -1592px -1287px}
.KNA {width:157px; height:97px; background-position: -1433px -1287px}
.KOR {width:157px; height:100px; background-position: -2px -1815px}
.KWT {width:157px; height:98px; background-position: -320px -1695px}
.LAO {width:157px; height:96px; background-position: -1115px -1587px}
.LBN {width:157px; height:98px; background-position: -320px -1595px}
.LBR {width:157px; height:99px; background-position: -479px -487px}
.LBY {width:157px; height:99px; background-position: -320px -487px}
.LCA {width:157px; height:96px; background-position: -1274px -1583px}
.LIE {width:157px; height:99px; background-position: -1751px -391px}
.LKA {width:189px; height:94px; background-position: -201px -2px}
.LSO {width:157px; height:98px; background-position: -320px -1495px}
.LTU {width:157px; height:98px; background-position: -320px -1395px}
.LUX {width:157px; height:101px; background-position: -2px -894px}
.LVA {width:157px; height:97px; background-position: -1274px -1287px}
.MAC {width:160px; height:94px; background-position: -1135px -194px}
.MAR {width:157px; height:99px; background-position: -1592px -386px}
.MCO {width:157px; height:99px; background-position: -1433px -386px}
.MDA {width:157px; height:97px; background-position: -1115px -1287px}
.MDG {width:157px; height:97px; background-position: -797px -1292px}
.MDV {width:157px; height:98px; background-position: -320px -1295px}
.MEX {width:157px; height:99px; background-position: -1274px -386px}
.MHL {width:157px; height:98px; background-position: -320px -1195px}
.MKD {width:157px; height:99px; background-position: -1115px -386px}
.MLI {width:157px; height:98px; background-position: -320px -1095px}
.MLT {width:157px; height:98px; background-position: -320px -995px}
.MMR {width:157px; height:99px; background-position: -956px -386px}
.MNG {width:157px; height:97px; background-position: -956px -1287px}
.MNP {width:160px; height:94px; background-position: -973px -194px}
.MOZ {width:157px; height:97px; background-position: -1751px -1193px}
.MRT {width:157px; height:97px; background-position: -1592px -1188px}
.MSR {width:160px; height:94px; background-position: -811px -194px}
.MTQ {width:157px; height:106px; background-position: -2px -257px}
.MUS {width:157px; height:99px; background-position: -797px -386px}
.MWI {width:157px; height:98px; background-position: -1751px -894px}
.MYS {width:157px; height:98px; background-position: -1592px -889px}
.MYT {width:157px; height:105px; background-position: -2px -472px}
.NAM {width:157px; height:99px; background-position: -638px -386px}
.NCL {width:188px; height:94px; background-position: -582px -2px}
.NER {width:157px; height:100px; background-position: -2px -1713px}
.NFK {width:159px; height:94px; background-position: -1289px -290px}
.NGA {width:157px; height:96px; background-position: -1751px -1489px}
.NIC {width:157px; height:98px; background-position: -1433px -889px}
.NIU {width:160px; height:94px; background-position: -649px -194px}
.NLD {width:157px; height:97px; background-position: -1433px -1188px}
.NOR {width:161px; height:94px; background-position: -161px -194px}
.NPL {width:157px; height:98px; background-position: -1274px -889px}
.NRU {width:157px; height:96px; background-position: -1592px -1485px}
.NZL {width:163px; height:94px; background-position: -1117px -2px}
.OMN {width:157px; height:98px; background-position: -1115px -889px}
.PAK {width:157px; height:97px; background-position: -1274px -1188px}
.PAN {width:157px; height:97px; background-position: -1115px -1188px}
.PCN {width:161px; height:94px; background-position: -1302px -98px}
.PER {width:157px; height:98px; background-position: -956px -889px}
.PHL {width:157px; height:98px; background-position: -797px -889px}
.PLW {width:157px; height:97px; background-position: -956px -1188px}
.PNG {width:157px; height:99px; background-position: -479px -386px}
.POL {width:157px; height:96px; background-position: -1433px -1485px}
.PRI {width:161px; height:94px; background-position: -1139px -98px}
.PRK {width:157px; height:98px; background-position: -320px -895px}
.PRT {width:157px; height:97px; background-position: -797px -1193px}
.PRY {width:157px; height:96px; background-position: -1274px -1485px}
.PST {width:159px; height:94px; background-position: -1128px -290px}
.PYF {width:161px; height:94px; background-position: -976px -98px}
.QAT {width:157px; height:97px; background-position: -1751px -1094px}
.REU {width:157px; height:95px; background-position: -1274px -1783px}
.ROM {width:157px; height:100px; background-position: -2px -1611px}
.RUS {width:157px; height:99px; background-position: -320px -386px}
.RWA {width:157px; height:98px; background-position: -479px -890px}
.SAU {width:157px; height:98px; background-position: -638px -889px}
.SDN {width:157px; height:98px; background-position: -1751px -794px}
.SEN {width:157px; height:98px; background-position: -1592px -789px}
.SGP {width:157px; height:100px; background-position: -2px -1509px}
.SGS {width:159px; height:94px; background-position: -967px -290px}
.SHN {width:159px; height:94px; background-position: -806px -290px}
.SJM {width:161px; height:94px; background-position: -161px -194px}
.SLB {width:157px; height:98px; background-position: -1433px -789px}
.SLE {width:157px; height:98px; background-position: -1274px -789px}
.SLV {width:157px; height:97px; background-position: -1592px -1089px}
.SMR {width:157px; height:98px; background-position: -1115px -789px}
.SOM {width:157px; height:97px; background-position: -1433px -1089px}
.SPM {width:160px; height:94px; background-position: -487px -194px}
.STP {width:157px; height:99px; background-position: -1771px -290px}
.SUR {width:161px; height:94px; background-position: -813px -98px}
.SVK {width:157px; height:97px; background-position: -1274px -1089px}
.SVN {width:157px; height:99px; background-position: -161px -1913px}
.SWE {width:157px; height:97px; background-position: -1115px -1089px}
.SWZ {width:157px; height:97px; background-position: -956px -1089px}
.SYC {width:157px; height:101px; background-position: -2px -791px}
.SYR {width:157px; height:98px; background-position: -956px -789px}
.TCA {width:161px; height:94px; background-position: -650px -98px}
.TCD {width:157px; height:98px; background-position: -797px -789px}
.TGO {width:157px; height:98px; background-position: -320px -795px}
.THA {width:157px; height:99px; background-position: -161px -1812px}
.TJK {width:157px; height:99px; background-position: -161px -1711px}
.TKL {width:161px; height:94px; background-position: -487px -98px}
.TKM {width:157px; height:98px; background-position: -479px -790px}
.TMP {width:157px; height:99px; background-position: -161px -1610px}
.TON {width:157px; height:97px; background-position: -797px -1089px}
.TTO {width:157px; height:99px; background-position: -161px -1509px}
.TUN {width:157px; height:100px; background-position: -2px -1407px}
.TUR {width:157px; height:99px; background-position: -161px -1408px}
.TUV {width:171px; height:94px; background-position: -772px -2px}
.TWN {width:157px; height:98px; background-position: -638px -789px}
.TZA {width:157px; height:98px; background-position: -1751px -694px}
.UGA {width:157px; height:100px; background-position: -2px -1305px}
.UKR {width:157px; height:99px; background-position: -161px -1307px}
.UMI {width:157px; height:99px; background-position: -161px -1206px}
.URY {width:157px; height:98px; background-position: -1592px -689px}
.USA {width:157px; height:99px; background-position: -161px -1206px}
.UZB {width:157px; height:97px; background-position: -638px -1893px}
.VAT {width:157px; height:157px; background-position: -2px -98px}
.VCT {width:157px; height:99px; background-position: -161px -1105px}
.VEN {width:157px; height:96px; background-position: -1115px -1489px}
.VGB {width:161px; height:94px; background-position: -324px -98px}
.VIR {width:161px; height:94px; background-position: -161px -98px}
.VNM {width:157px; height:96px; background-position: -1751px -1391px}
.VUT {width:157px; height:98px; background-position: -1433px -689px}
.WLF {width:157px; height:105px; background-position: -2px -365px}
.WSM {width:157px; height:100px; background-position: -2px -1203px}
.YEM {width:157px; height:98px; background-position: -1274px -689px}
.YUG {width:188px; height:94px; background-position: -392px -2px}
.ZAF {width:157px; height:97px; background-position: -638px -1794px}
.ZMB {width:157px; height:98px; background-position: -1115px -689px}
.ZWE {width:157px; height:98px; background-position: -956px -689px}
