/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:88473f0f6caafa7c51de8682751987cf$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(gbt2659.png);}

.ABW {width:157px; height:99px; background-position: -161px -1004px}
.AFG {width:157px; height:98px; background-position: -1592px -487px}
.AGO {width:157px; height:100px; background-position: -161px -902px}
.AIA {width:157px; height:94px; background-position: -1592px -1776px}
.ALB {width:157px; height:99px; background-position: -1433px -487px}
.AND {width:157px; height:100px; background-position: -161px -800px}
.ANT {width:160px; height:94px; background-position: -806px -290px}
.ARE {width:197px; height:94px; background-position: -2px -2px}
.ARG {width:157px; height:98px; background-position: -1274px -1088px}
.ARM {width:157px; height:100px; background-position: -161px -698px}
.ASM {width:158px; height:94px; background-position: -1773px -290px}
.ATA {width:157px; height:94px; background-position: -1751px -1680px}
.ATF {width:161px; height:94px; background-position: -324px -194px}
.ATG {width:157px; height:98px; background-position: -1115px -1088px}
.AUS {width:163px; height:94px; background-position: -1612px -2px}
.AUT {width:157px; height:98px; background-position: -956px -1088px}
.AZE {width:157px; height:99px; background-position: -1274px -487px}
.BDI {width:157px; height:97px; background-position: -1115px -1485px}
.BEL {width:157px; height:98px; background-position: -797px -1088px}
.BEN {width:157px; height:98px; background-position: -638px -1187px}
.BFA {width:157px; height:96px; background-position: -1433px -1877px}
.BGD {width:157px; height:96px; background-position: -1433px -1779px}
.BGR {width:157px; height:97px; background-position: -956px -1485px}
.BHR {width:157px; height:98px; background-position: -1751px -1087px}
.BHS {width:157px; height:101px; background-position: -2px -1100px}
.BIH {width:157px; height:99px; background-position: -1115px -487px}
.BLR {width:170px; height:94px; background-position: -945px -2px}
.BLZ {width:157px; height:99px; background-position: -956px -487px}
.BMU {width:157px; height:98px; background-position: -1592px -1087px}
.BOL {width:157px; height:100px; background-position: -161px -596px}
.BRA {width:157px; height:98px; background-position: -1433px -988px}
.BRB {width:157px; height:98px; background-position: -1274px -988px}
.BRN {width:157px; height:99px; background-position: -797px -487px}
.BTN {width:157px; height:98px; background-position: -1115px -988px}
.BVT {width:161px; height:94px; background-position: -161px -194px}
.BWA {width:157px; height:99px; background-position: -638px -487px}
.CAF {width:157px; height:100px; background-position: -161px -494px}
.CAN {width:157px; height:98px; background-position: -956px -988px}
.CCK {width:157px; height:101px; background-position: -2px -997px}
.CHE {width:157px; height:98px; background-position: -797px -988px}
.CHL {width:157px; height:98px; background-position: -638px -988px}
.CHN {width:157px; height:97px; background-position: -1751px -1484px}
.CIV {width:163px; height:94px; background-position: -1447px -2px}
.CMR {width:157px; height:96px; background-position: -1433px -1681px}
.COD {width:157px; height:97px; background-position: -1592px -1484px}
.COG {width:157px; height:98px; background-position: -479px -1887px}
.COK {width:162px; height:94px; background-position: -1777px -2px}
.COL {width:157px; height:96px; background-position: -1433px -1583px}
.COM {width:157px; height:99px; background-position: -479px -487px}
.CPV {width:157px; height:98px; background-position: -479px -1787px}
.CR {width:157px; height:98px; background-position: -479px -1687px}
.CSR {width:163px; height:94px; background-position: -1282px -2px}
.CUB {width:157px; height:98px; background-position: -479px -1587px}
.CYM {width:157px; height:99px; background-position: -320px -1901px}
.CYP {width:157px; height:98px; background-position: -479px -1487px}
.CZE {width:157px; height:100px; background-position: -161px -392px}
.DEU {width:157px; height:98px; background-position: -479px -1387px}
.DJI {width:157px; height:99px; background-position: -320px -1800px}
.DMA {width:157px; height:99px; background-position: -320px -1699px}
.DNK {width:157px; height:97px; background-position: -1433px -1484px}
.DOM {width:157px; height:100px; background-position: -161px -290px}
.DZA {width:157px; height:100px; background-position: -2px -1917px}
.ECU {width:157px; height:96px; background-position: -1274px -1877px}
.EGY {width:157px; height:98px; background-position: -479px -1287px}
.ERI {width:157px; height:96px; background-position: -1274px -1779px}
.ESH {width:161px; height:94px; background-position: -1791px -98px}
.ESP {width:157px; height:99px; background-position: -320px -1598px}
.EST {width:157px; height:97px; background-position: -797px -1880px}
.ETH {width:157px; height:99px; background-position: -320px -1497px}
.FIN {width:157px; height:96px; background-position: -1274px -1681px}
.FJI {width:159px; height:94px; background-position: -1612px -290px}
.FLK {width:160px; height:94px; background-position: -644px -290px}
.FM {width:157px; height:98px; background-position: -479px -1187px}
.FRA {width:157px; height:99px; background-position: -320px -1396px}
.FRO {width:160px; height:94px; background-position: -482px -290px}
.GAB {width:161px; height:94px; background-position: -1628px -98px}
.GBR {width:157px; height:99px; background-position: -320px -1295px}
.GEO {width:157px; height:97px; background-position: -797px -1781px}
.GHA {width:157px; height:99px; background-position: -320px -1194px}
.GIB {width:161px; height:94px; background-position: -1465px -98px}
.GIN {width:157px; height:97px; background-position: -797px -1682px}
.GLP {width:157px; height:104px; background-position: -2px -685px}
.GMB {width:157px; height:96px; background-position: -1274px -1583px}
.GNB {width:157px; height:99px; background-position: -320px -1093px}
.GNQ {width:157px; height:99px; background-position: -320px -992px}
.GRC {width:157px; height:97px; background-position: -797px -1583px}
.GRD {width:157px; height:97px; background-position: -1274px -1386px}
.GRL {width:160px; height:94px; background-position: -320px -290px}
.GTM {width:157px; height:99px; background-position: -320px -891px}
.GUF {width:157px; height:104px; background-position: -2px -579px}
.GUM {width:160px; height:94px; background-position: -1783px -194px}
.GUY {width:157px; height:98px; background-position: -479px -1087px}
.HKG {width:160px; height:94px; background-position: -1621px -194px}
.HMD {width:163px; height:94px; background-position: -1612px -2px}
.HND {width:157px; height:98px; background-position: -1751px -987px}
.HRV {width:157px; height:99px; background-position: -320px -790px}
.HTI {width:157px; height:97px; background-position: -1115px -1386px}
.HUN {width:157px; height:97px; background-position: -956px -1386px}
.IDN {width:157px; height:97px; background-position: -797px -1484px}
.IND {width:157px; height:95px; background-position: -1751px -1583px}
.IOT {width:160px; height:94px; background-position: -1459px -194px}
.IRL {width:157px; height:96px; background-position: -1115px -1878px}
.IRN {width:157px; height:98px; background-position: -1592px -987px}
.IRQ {width:157px; height:98px; background-position: -1433px -888px}
.ISL {width:157px; height:99px; background-position: -320px -689px}
.ISR {width:157px; height:97px; background-position: -1751px -1385px}
.ITA {width:157px; height:97px; background-position: -1592px -1385px}
.JAM {width:157px; height:97px; background-position: -1433px -1385px}
.JOR {width:157px; height:98px; background-position: -1274px -888px}
.JPN {width:157px; height:96px; background-position: -1115px -1780px}
.KAZ {width:157px; height:98px; background-position: -1115px -888px}
.KEN {width:157px; height:98px; background-position: -956px -888px}
.KGZ {width:157px; height:97px; background-position: -1274px -1287px}
.KHM {width:157px; height:96px; background-position: -1115px -1682px}
.KIR {width:157px; height:97px; background-position: -1115px -1287px}
.KNA {width:157px; height:97px; background-position: -956px -1287px}
.KOR {width:157px; height:100px; background-position: -2px -1815px}
.KWT {width:157px; height:98px; background-position: -797px -888px}
.LAO {width:157px; height:96px; background-position: -1115px -1584px}
.LBN {width:157px; height:98px; background-position: -638px -888px}
.LBR {width:157px; height:99px; background-position: -320px -588px}
.LBY {width:157px; height:99px; background-position: -320px -487px}
.LCA {width:157px; height:96px; background-position: -956px -1878px}
.LIE {width:157px; height:99px; background-position: -1751px -386px}
.LKA {width:189px; height:94px; background-position: -201px -2px}
.LSO {width:157px; height:98px; background-position: -479px -888px}
.LTU {width:157px; height:98px; background-position: -1751px -887px}
.LUX {width:157px; height:101px; background-position: -2px -894px}
.LVA {width:157px; height:97px; background-position: -797px -1287px}
.MAC {width:160px; height:94px; background-position: -1297px -194px}
.MAR {width:157px; height:99px; background-position: -1592px -386px}
.MCO {width:157px; height:99px; background-position: -1433px -386px}
.MDA {width:157px; height:97px; background-position: -638px -1880px}
.MDG {width:157px; height:97px; background-position: -638px -1781px}
.MDV {width:157px; height:98px; background-position: -1592px -887px}
.MEX {width:157px; height:99px; background-position: -1274px -386px}
.MHL {width:157px; height:98px; background-position: -1433px -788px}
.MKD {width:157px; height:99px; background-position: -1115px -386px}
.MLI {width:160px; height:94px; background-position: -1135px -194px}
.MLT {width:157px; height:98px; background-position: -1274px -788px}
.MMR {width:157px; height:94px; background-position: -1592px -1680px}
.MNG {width:157px; height:97px; background-position: -638px -1682px}
.MNP {width:160px; height:94px; background-position: -973px -194px}
.MOZ {width:157px; height:97px; background-position: -638px -1583px}
.MRT {width:157px; height:97px; background-position: -638px -1484px}
.MSR {width:160px; height:94px; background-position: -811px -194px}
.MTQ {width:157px; height:106px; background-position: -2px -257px}
.MUS {width:157px; height:99px; background-position: -956px -386px}
.MWI {width:157px; height:98px; background-position: -1115px -788px}
.MYS {width:157px; height:98px; background-position: -956px -788px}
.MYT {width:157px; height:105px; background-position: -2px -472px}
.NAM {width:157px; height:99px; background-position: -797px -386px}
.NCL {width:188px; height:94px; background-position: -582px -2px}
.NER {width:157px; height:100px; background-position: -2px -1713px}
.NFK {width:159px; height:94px; background-position: -1451px -290px}
.NGA {width:157px; height:96px; background-position: -956px -1780px}
.NIC {width:157px; height:98px; background-position: -797px -788px}
.NIU {width:160px; height:94px; background-position: -649px -194px}
.NLD {width:157px; height:97px; background-position: -638px -1385px}
.NOR {width:161px; height:94px; background-position: -161px -194px}
.NPL {width:157px; height:98px; background-position: -638px -788px}
.NRU {width:157px; height:96px; background-position: -956px -1682px}
.NZL {width:163px; height:94px; background-position: -1117px -2px}
.OMN {width:157px; height:98px; background-position: -479px -788px}
.PAK {width:157px; height:97px; background-position: -1751px -1286px}
.PAN {width:157px; height:97px; background-position: -1592px -1286px}
.PCN {width:161px; height:94px; background-position: -1302px -98px}
.PER {width:157px; height:98px; background-position: -1751px -787px}
.PHL {width:157px; height:98px; background-position: -1592px -787px}
.PLW {width:157px; height:97px; background-position: -1433px -1286px}
.PNG {width:157px; height:99px; background-position: -638px -386px}
.POL {width:157px; height:96px; background-position: -956px -1584px}
.PRI {width:161px; height:94px; background-position: -1139px -98px}
.PRK {width:157px; height:98px; background-position: -1433px -688px}
.PRT {width:157px; height:97px; background-position: -1274px -1188px}
.PRY {width:157px; height:96px; background-position: -1274px -1485px}
.PST {width:159px; height:94px; background-position: -1290px -290px}
.PYF {width:161px; height:94px; background-position: -976px -98px}
.QAT {width:157px; height:97px; background-position: -1115px -1188px}
.REU {width:157px; height:95px; background-position: -1592px -1583px}
.ROM {width:157px; height:100px; background-position: -2px -1611px}
.RUS {width:157px; height:99px; background-position: -479px -386px}
.RWA {width:157px; height:98px; background-position: -1274px -688px}
.SAU {width:157px; height:98px; background-position: -1115px -688px}
.SDN {width:157px; height:98px; background-position: -956px -688px}
.SEN {width:157px; height:98px; background-position: -797px -688px}
.SGP {width:157px; height:100px; background-position: -2px -1509px}
.SGS {width:159px; height:94px; background-position: -1129px -290px}
.SHN {width:159px; height:94px; background-position: -968px -290px}
.SJM {width:161px; height:94px; background-position: -161px -194px}
.SLB {width:157px; height:98px; background-position: -638px -688px}
.SLE {width:157px; height:98px; background-position: -479px -688px}
.SLV {width:157px; height:97px; background-position: -956px -1188px}
.SMR {width:157px; height:98px; background-position: -1751px -687px}
.SOM {width:157px; height:97px; background-position: -797px -1188px}
.SPM {width:160px; height:94px; background-position: -487px -194px}
.STP {width:157px; height:99px; background-position: -320px -386px}
.SUR {width:161px; height:94px; background-position: -813px -98px}
.SVK {width:157px; height:97px; background-position: -1751px -1187px}
.SVN {width:157px; height:99px; background-position: -161px -1913px}
.SWE {width:157px; height:97px; background-position: -1592px -1187px}
.SWZ {width:157px; height:97px; background-position: -1433px -1187px}
.SYC {width:157px; height:101px; background-position: -2px -791px}
.SYR {width:157px; height:98px; background-position: -1592px -687px}
.TCA {width:161px; height:94px; background-position: -650px -98px}
.TCD {width:157px; height:98px; background-position: -1433px -588px}
.TGO {width:157px; height:98px; background-position: -1274px -588px}
.THA {width:157px; height:99px; background-position: -161px -1812px}
.TJK {width:157px; height:99px; background-position: -161px -1711px}
.TKL {width:161px; height:94px; background-position: -487px -98px}
.TKM {width:157px; height:98px; background-position: -1115px -588px}
.TMP {width:157px; height:99px; background-position: -161px -1610px}
.TON {width:157px; height:97px; background-position: -1433px -1088px}
.TTO {width:157px; height:99px; background-position: -161px -1509px}
.TUN {width:157px; height:100px; background-position: -2px -1407px}
.TUR {width:157px; height:99px; background-position: -161px -1408px}
.TUV {width:171px; height:94px; background-position: -772px -2px}
.TWN {width:157px; height:98px; background-position: -956px -588px}
.TZA {width:157px; height:98px; background-position: -797px -588px}
.UGA {width:157px; height:100px; background-position: -2px -1305px}
.UKR {width:157px; height:99px; background-position: -161px -1307px}
.UMI {width:157px; height:99px; background-position: -161px -1206px}
.URY {width:157px; height:98px; background-position: -638px -588px}
.USA {width:157px; height:99px; background-position: -161px -1206px}
.UZB {width:157px; height:97px; background-position: -638px -1088px}
.VAT {width:157px; height:157px; background-position: -2px -98px}
.VCT {width:157px; height:99px; background-position: -161px -1105px}
.VEN {width:157px; height:96px; background-position: -797px -1386px}
.VGB {width:161px; height:94px; background-position: -324px -98px}
.VIR {width:161px; height:94px; background-position: -161px -98px}
.VNM {width:157px; height:96px; background-position: -638px -1287px}
.VUT {width:157px; height:98px; background-position: -479px -588px}
.WLF {width:157px; height:105px; background-position: -2px -365px}
.WSM {width:157px; height:100px; background-position: -2px -1203px}
.YEM {width:157px; height:98px; background-position: -1751px -587px}
.YUG {width:188px; height:94px; background-position: -392px -2px}
.ZAF {width:157px; height:97px; background-position: -479px -988px}
.ZMB {width:157px; height:98px; background-position: -1592px -587px}
.ZWE {width:157px; height:98px; background-position: -1751px -487px}
